@font-face {
  font-family: "OpenSans";
  src: url('../fonts/Montserrat-Light.woff'),
    url('../fonts/Montserrat-Light.woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Regular.woff'),
    url('../fonts/OpenSans-Regular.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-SemiBold.woff'),
    url('../fonts/OpenSans-SemiBold.woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Light.woff'),
    url('../fonts/Montserrat-Light.woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Medium.woff'),
    url('../fonts/Montserrat-Medium.woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Bold.woff'),
    url('../fonts/Montserrat-Bold.woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url('../fonts/Raleway-Bold.woff');
  src: url('../fonts/Raleway-Bold.woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather-Italic";
  src: url('../fonts/Merriweather-Italic.woff');
  src: url('../fonts/Merriweather-Italic.woff2');
  font-weight: 300;
  font-display: swap;
}